<div class="container">
    <div class="row">
        <div class="barra-descricao">
            Formulário de contato
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form action="action.html" method="POST">

                <mat-form-field>
                    <mat-label>Nome Completo:</mat-label>
                    <input matInput type="text" name="nome" id="nome">
                </mat-form-field><br><br>

                <mat-form-field>
                    <mat-label>E-mail:</mat-label>
                    <input matInput type="email" name="email" id="email">
                </mat-form-field><br><br>

                <mat-form-field>
                    <mat-label>Assunto:</mat-label>
                    <input matInput type="assunto" name="assunto" id="assunto">
                </mat-form-field><br><br>

                <mat-form-field>
                    <mat-label>Mensagem:</mat-label>
                    <textarea matInput name="mensagem" id="mensagem" rows="5"></textarea>
                </mat-form-field><br><br>

                <button class="btn btn-primary" type="submit">Enviar</button><br><br><br>
                
            </form>
        </div>

        <div class="col-md-1">
            <div class="barrah"></div>
        </div>

        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.8557670182663!2d-46.73836858554386!3d-23.533927866463763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef9338bb45437%3A0x61217e6b9c1d801e!2sThoth%20Company%20Technology!5e1!3m2!1spt-BR!2sbr!4v1593442516204!5m2!1spt-BR!2sbr" width="500" height="300" frameborder="0" style="border:2;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>