<div class="container-fluid">
    <div class="gradient"></div>  
</div>


<!-------- Footer ------------->

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre a Loja</h6><br>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> 
                Amet cupiditate, cum voluptas vel porro commodi voluptatibu<br>
                Lorem ipsum dolor sit, amet consectetur adipisicin.<br><br></p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Mapa do Site</h6><br>

                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="produtos">Produto</a></li>
                <li><a routerLink="contatos">Contato</a></li>
            </div>

            <div class="col-xs-6 col-md-3">

                <h6>Pague com</h6><br>

                <div class="payment">
                    <div class="img-payment">
                        <img  src="/assets/img/logos_1.png" class="" alt="" >
                    </div>
    
                    <div class="img-payment">
                        <img src="/assets/img/logos_2.png" class="" alt="" >
                    </div>
    
                    <div class="img-payment">
                        <img src="/assets/img/logos_3.png" class="" alt="" >
                    </div>
    
                    <div class="img-payment">
                        <img src="/assets/img/logos_4.png" class="" alt="" >
                    </div>
                </div>
                
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
                <a href="http://www.thothcompany.com.br/" target="_blank">THOTH COMPANY</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><img src="/assets/img/rs-facebook.png" width="25" height="25" alt=""></a></li>
                    <li><a class="twitter" href="#"><img src="/assets/img/rs-twitter.png" width="25" height="25" alt=""></a></li>
                    <li><a class="linkedin" href="#"><img src="/assets/img/rs-linkedin.png" width="25" height="25" alt=""></a></li>   
                </ul>
            </div>
        </div>
    </div>
</footer>
